<div class="bgcontent" ng-show="$root.isLogin==true">
	<div class="logo curp fl" ng-click="linkTo('/zhaocai')">
		<i class="iconfont">&#xe60d;</i>
		聘宝
	</div>
	<div class="content">
		<div class="btn-box fl">
			<div class="add-btn curp fl" ng-click="linkTo('/addjob')">
				<i class="iconfont fr">&#xe608;</i>发布新职位
			</div>
			<div class="add-btn curp fl" ng-click="linkTo('/addsite')">
				<i class="iconfont fr">&#xe608;</i>添加新渠道
			</div>
		</div>
		<div class="input-box fl">
			<input type="text" placeholder="请输入关键字搜索">
			<i class="iconfont curp">&#xe600;</i>
		</div>
		<div class="user-info fr">
			<div class="user-img fl curp">
				<i class="iconfont">&#xe609;</i>
			</div>
			<div class="username fl curp">{{$root.username}}</div>
			<div class="logout fl curp" ng-click="logout()">退出</div>
		</div>
	</div>
</div>
<div class="bg" ng-show="$root.isLogin==false">
	<div class="content">
		<div class="logo curp fl">
			<i class="iconfont">&#xe60d;</i>
			聘宝
		</div>
		<div class="btn-box fr">
			<div class="login-btn btn curp fl">登录</div>
			<div class="register-btn btn curp fl">注册</div>
		</div>
	</div>
</div>