<div class="wrap">
	<div class="banner banner_one">
		<img src="../images/banner_01.png" alt=""> 
		<div class="banner_text content">
			<div class="wid50 fl">
				<p class="font28">招聘助理  快人一步</p>
                <p class="font18">我们热情，不仅对顾客；我们规范，不仅对制度；</p>
                <p class="font18">聚九州人脉，纳四海人才</p>
                <p class="font18">和我一样，带着梦想，在合适的位置上开始我们专注一生的事业</p>
			</div>
			<div class="wid50 fr">
				<div class="btn_nav wid100">
					<div class="fl curp" ng-click="loginBox=true">登录</div>
					<div class="fl curp" ng-click="registerBox=true">注册</div>
				</div>
				<div class="login_box" ng-show="loginBox==true">
					<div><input type="text" placeholder="请输入用户名"></div>
					<div><input type="password" placeholder="请输入密码"></div>
					<div class="btn login_btn">登录</div>
				</div>
				<div class="register_box" ng-show="registerBox==true">
					<div><input type="text" placeholder="姓名"></div>
					<div><input type="text" placeholder="手机号或邮箱"></div>
					<div><input type="password" placeholder="请输入密码"></div>
					<div class="btn register_btn">注册</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content content_one">
		<div class="title font28">便捷招聘 三步到位</div>
		<ul>
			<li>
				<div class="icon">
					<i class="iconfont iconfont50">&#xe602;</i>
				</div>
				<div class="icon_title">一键发布，整合</div>
				<p>可以通过平台一键发布招聘职位信息到拉钩，猎聘等各大招聘平台。同时也可以查看所有招聘平台的简历投递情况，解决平台多，效率慢等招聘痛点。</p>
			</li>
			<li>
				<div class="icon">
					<i class="iconfont iconfont50">&#xe60a;</i>
				</div>
				<div class="icon_title">快捷筛选所有简历</div>
				<p>可以直接在平台上筛选所有平台投递的所有简历。最直观知道求职者的信息，直接将合适人选加入聚财宝，提高招聘效率。</p>
			</li>
			<li>
				<div class="icon">
					<i class="iconfont iconfont50">&#xe60c;</i>
				</div>
				<div class="icon_title">聚才宝</div>
				<p>可以快捷安排优选人才交流，面试。也可以把优质人才加入人才库，方便日后招聘。同时可以记录招聘，入职信息，一站式管理。</p>
			</li>
			<li>
				<div class="icon">
					<i class="iconfont iconfont50">&#xe607;</i>
				</div>
				<div class="icon_title">招聘完成</div>
				<p> 完成招聘，便捷招聘，三步完成，得到行业精英加入公司发展。</p>
			</li>
		</ul>
	</div>
	<div class="banner">
		<img src="../images/banner_02.png" alt="">
	</div>
	<div class="content content_two">
		<div class="content_left wid50 fl">
			<img src="../images/banner_03.png" alt="">	
		</div>
		<div class="content_right wid50 fr">
			<div class="title">一键发布 职位管理不是问题</div>
			<p>一键发布招聘信息到国内主流招聘渠道</p>
			<p>专注于提高HR工作效率，把HR将近3-4小时的招聘工作缩减至10分钟</p>
		</div>
	</div>
	<div class="content content_three">
		<div class="content_left wid50 fl">
			<p class="title">一个职位 多种招聘方式</p>
			<p>提供多种求职者管理系统，快捷易管理。</p>
			<p>分组管理，实时了解应聘，招聘情况。</p>
		</div>
		<div class="content_right wid50 fr">
			<img src="../images/banner_04.png" alt="">
		</div>
	</div>
	<div class="banner banner_bottom">
		<img src="../images/banner_05.png" alt="">
		<div class="desic">招才宝，招聘管理，快人一步</div>
	</div>
	<div class="footer">
		<p>Copyright © 2015 pinbao.com All Rights Reserved　版权所有·聘宝　浙ICP备14012994号-001</p>
	</div>
</div>