<div class="zhaocai" confirmlogin>
	<div class="jobList">
		<div class="title">招聘职位</div>
		<div class="job_title curp" ng-repeat="n in jobData" ng-click="jobDetail(n.job_id)">{{n.job_title}}
			<span class="count">{{n.count}}</span>
		</div>
	</div>
	<div class="jobDetail">
		<div class="resume-box">
			<div class="resume-title">职位信息&nbsp;:&nbsp;{{jobDetailData.job_title}}</div>
			<div class="resume-content">
				<ul>
					<li>职位年薪 : {{jobDetailData.salary}}</li>
					<li>工作地点 : {{jobDetailData.location}}</li>
					<li>年龄要求 : {{jobDetailData.age}}</li>
					<li>性别 : {{jobDetailData.gender}}</li>
					<li>工作年限 : {{jobDetailData.experience}}</li>
					<li>学历要求 : {{jobDetailData.education}}</li>
					<li>更新时间 : {{jobDetailData.update_time}}</li>
					<li>发布时间 : {{jobDetailData.create_time}}</li>
				</ul>
			</div>
		</div>
		<div class="resume-type">
			<ul class="type-list">
				<li class="curp" ng-repeat="(i,n) in typeData" ng-click="getCollects(n.type)">{{n.title}}
					<span class="count">{{n.count}}</span>
				</li>
			</ul>
			<div class="resume-list">
				<ul class="list-box">
					<li ng-repeat="n in collectsData">
						<div class="resume-info">
							<div class="info-title">
								<div class="title-text flex-box">
									<a href="{{n.resume_url}}">{{n.job_title||'无'}}</a>
									<span>{{n.gender||'无'}}/{{n.education}}/{{n.residence||'无'}}</span>
									<span>最近登录:{{n.time}}</span>
								</div>
							</div>
							<div class="info-box flex-box">
								<img ng-src="{{n.avatar_url}}" alt="" class="curp">
								<span>{{n.name||'无'}}</span>
								<span>{{n.desc||'他很懒,没写求职宣言'}}</span>
								<span>来源:{{n.source||'无'}}</span>
								<span>
									<div class="add-btn curp" ng-click="addCandidate(n.collect_id)">加入候选</div>
								</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<pager></pager>
	</div>
</div>